{% extends "DABSquaredPushNotificationsBundle::base.html.twig" %}


{% block title %}Create Message - {{ parent() }}{% endblock %}

{% block content %}

    <form id="pushMessageForm" action="{{ path('create_push_messages') }}" method="post" {{ form_enctype(form) }} autocomplete="off" >

        <div class="row" style="text-align:center; width:100%;">
            <div class="span12">
                {{ form_errors(form.message) }}
                {{ form_widget(form.message) }}
            </div>

        </div>

        <div class="row" style="text-align:right;font-weight: bold; font-size: 16px;">
            <div class="span12">
                <span id="charCount">0/255</span>
            </div>
        </div>

        <div class="row" style="text-align:center;">
            <div class="span12">
                {{ form_errors(form.type) }}
                {{ form_widget(form.type) }}
            </div>
        </div>

        <div class="row" style="text-align:center;">
            <div class="span12" style="display:none;">
                {{ form_label(form.device) }}
                {{ form_errors(form.device) }}
                {{ form_widget(form.device) }}
            </div>
            <div class="span12">

                {{ form_errors(form.deviceName) }}
                {{ form_widget(form.deviceName) }}
            </div>
        </div>

        <div class="row" style="text-align:center;">
            <div class="span12">
                <input class="btn btn-primary" type="submit" />

            </div>
        </div>

    </form>
</div>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#dabsquared_pushbundle_messagetype_message").css('width','100%');
            $("#dabsquared_pushbundle_messagetype_deviceName").css('width','50%');

            $("#dabsquared_pushbundle_messagetype_deviceName").autocomplete
            ({
                source: function( request, response )
                {
                    $.ajax(
                            {
                                url: "{{ path('get_device_list') }}",
                                data: {
                                    term: request.term
                                },
                                type: "GET",  // a jQuery ajax POST transmits in querystring format in utf-8
                                dataType: "json",   //return data in json format
                                success: function( data )
                                {
                                    response( $.map( data, function( item )
                                    {
                                        return{
                                            label: item.deviceName,
                                            value: item.deviceName,
                                            deviceId: item.id,
                                        }
                                    }));
                                }
                            });
                },
                select: function( event, ui ) {
                    if (ui.item) {
                        $("#dabsquared_pushbundle_messagetype_device").html('<option value="'+ui.item.deviceId+'">'+ui.item.label+'</option>');

                    } else {
                        // "Nothing selected, input was " + this.value );
                    }
                    $('#dabsquared_pushbundle_messagetype_deviceName').removeClass('ui-autocomplete-loading');

                    return true;
                },
                minLength: 2
            });

            $('.ui-corner-all').click(function() {
                $('#dabsquared_pushbundle_messagetype_deviceName').keyup();
            });

            $('#dabsquared_pushbundle_messagetype_message').keyup(function () {
                var max = 255;
                var len = $(this).val().length;
                if (len >= max) {
                    $('#charCount').text(len + "/255");
                } else {
                    $('#charCount').text(len + "/255");
                }
            });

        });
    </script>
{% endblock %}

