{% extends "DABSquaredPushNotificationsBundle::base.html.twig" %}


{% block title %}Create Message - {{ parent() }}{% endblock %}

{% block content %}

    <form id="pushMessageForm" action="{{ path('dabsquared_push_notifications_create_push_messages') }}" method="post" {{ form_enctype(form) }} autocomplete="off" >

        <div class="row" style="text-align:center; width:100%;">
            <div class="col-md-12">
                {{ form_row(form.message) }}
            </div>

        </div>

        <div class="row" style="text-align:center;">
            <div class="col-md-12">
                {{ form_row(form.type) }}
            </div>
        </div>


        <div class="row" style="text-align:center;">
            <div class="col-md-12">
                <input class="btn btn-primary form-control" type="submit" />
            </div>
        </div>

    </form>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

