{% extends "DABSquaredPushNotificationsBundle::base.html.twig" %}


{% block title %}Create Message - {{ parent() }}{% endblock %}

{% block content %}

    <h3>Create Message For {{ device.deviceName }}</h3>

    <form id="pushMessageForm" action="{{ path('dabsquared_push_notifications_create_device_push_message', { deviceId: device.id}) }}" method="post" {{ form_enctype(form) }} autocomplete="off" >

        <div class="row" style="text-align:center; width:100%;">
            <div class="col-md-12">
                {{ form_errors(form.message) }}
                {{ form_widget(form.message) }}
            </div>

        </div>

        <div class="row" style="text-align:right;font-weight: bold; font-size: 16px;">
            <div class="col-md-12">
                <span id="charCount">0/255</span>
            </div>
        </div>



        <div class="row" style="text-align:center;">
            <div class="col-md-12">
                <input class="btn btn-primary form-control" type="submit" />
            </div>
        </div>

    </form>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#dabsquared_pushbundle_message_only_type_message').keyup(function () {
                var max = 255;
                var len = $(this).val().length;
                if (len >= max) {
                    $('#charCount').text(len + "/255");
                } else {
                    $('#charCount').text(len + "/255");
                }
            });

            $('#dabsquared_pushbundle_message_only_type_message').addClass('col-md-12');
        });
    </script>
{% endblock %}

