{% extends "DABSquaredPushNotificationsBundle::base.html.twig" %}


{% block title %}Create Message - {{ parent() }}{% endblock %}

{% block content %}

    <h3>Create Message For {{ device.deviceName }}</h3>

    {{ form_start(form, {'attr': {'id': 'pushMessageForm'}, 'action': path('dabsquared_push_notifications_create_device_push_message', { deviceId: device.id}), 'method': 'POST' }) }}

        {% if payload_sent is not null %}
            <div class="row ">
                <div class="col-md-12">
                    <div class=" alert alert-success">
                        Sent Payload:
                        <pre>{{ payload_sent|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.title) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.message) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.sound) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.badge) }}
            </div>
        </div>



        <div class="row">
            <div class="col-md-12">
               The custom data block overrides any attributes set above. Example:
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <pre>
{
    "aps": {
        "alert": {
            "title": "Game Request",
            "body": "Bob wants to play poker",
            "action-loc-key": "PLAY"
        },
        "badge": 5
    },
    "acme1": "bar",
    "acme2": [
        "bang",
        "whiz"
    ]
}
                </pre>
            </div>
        </div>

        {% if json_error is not null %}
            <div class="row ">
                <div class="col-md-12">
                    <div class=" alert alert-danger">
                        {{ json_error }}
                    </div>
                </div>
            </div>
        {% endif %}


        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.customData) }}
            </div>
        </div>

        <div class="row" style="text-align:center;">
            <div class="col-md-12">
                <input class="btn btn-primary form-control" type="submit" />
            </div>
        </div>

    {{ form_end(form) }}


{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

